@import './scss/Filter.scss';
@import './scss/TableHeader.scss';
@import './scss/TableRow.scss';
@import './scss/Table.scss';
@import './scss/ViewAll.scss';
@import './scss/Tags.scss';
@import './scss/Checkbox.scss';

html,
body {
  background-color: #000;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
}
