.checkbox {
  margin-right: 24px;

  input[type='checkbox'] {
    display: grid;
    place-content: center;
    appearance: none;
    margin: 0;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    background-color: #27272a;
    border: 1px solid #3f3f46;
    cursor: pointer;

    &:before {
      content: '';
      transition: background-color 0.8s;
    }

    &:after {
      content: '';
      transition: background-color 0.8s;
    }

    &:checked::after {
      content: '';
      border-radius: 4px;
      width: 16px;
      height: 16px;
      background: #6366f1 url('./assets/checkmark.svg') no-repeat center;
    }
  }
}
